MDK-ARM/Alientek_F407/*

Drivers/CMSIS/Core/Template/ARMv8-M/*
Drivers/CMSIS/Device/ST/STM32F4xx/Source/Templates/*
Drivers/CMSIS/DSP/*
MDK-ARM/JLinkLog.txt
MDK-ARM/JLinkSettings.ini
MDK-ARM/Alientek_F407.uvguix.11960
